<button type="button" class="btn btn-warning d-print-none" data-toggle="modal" data-target=".bd-example-modal-lg">
    Update profile data
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputAddress">Full name</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Email address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="john.doe@example.com">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Primary phone number</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="+91-9004057648">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Secondary phone number</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="+91-7507494206">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="Pune">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <input type="text" class="form-control" id="inputState" placeholder="Maharashtra">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip" placeholder="412114">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Summary</label>
                        <textarea class="form-control" id="inputAddress" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="profile mt-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-4">
                <div class="card-header">Nirmal Kumar Tailor</div>
                <div class="card-body">
                    <div class="email">
                        <i class="fa fa-envelope text-muted"></i>nirmaltailor@live.com
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone text-muted"></i>+91-9004057648, +91-7507494206
                    </div>
                    <div class="address">
                        <i class="fa fa-map-marker text-muted"></i>Pune, Maharastra 412114
                    </div>
                </div>
            </div>
            <div class="card mt-4 mb-4">
                <div class="card-header">Download & Share</div>
                <div class="card-body text-center py-5">
                    <h4>
                        <a href="">
                            <i class="fa fa-download mr-3"></i>Download</a>
                    </h4>
                    <hr/>
                    <h5>
                        <a href="">
                            <i class="fa fa-share-alt mr-3"></i>Share</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card mb-4">
                <div class="card-header">Professional summary</div>
                <div class="card-body">
                    <ul class="summary">
                        <li>Completed MasterCard RWAP project by using AngularJS (1.3, 1.5), HTML5(Bootstrap), CSS3, Gulp, Bower,
                            Mocha, Chai, Sinon, and GIT.</li>
                        <li>Worked for Lenovo client to build Target Tool a budget distribution project by using AngularJS (1.3),
                            HTML5, CSS3.
                        </li>
                        <li>Build Price calculator tool for Lenovo Client by using JavaScript, jQuery, HTML5(Bootstrap), CSS3,
                            PHP, MySql and Drupal.
                        </li>
                        <li>Attended training on Backbase and got extensive knowledge of installation, creating widgets, targeting,
                            publishing, user groups, permission and many more.</li>
                        <li>Attended training on Adobe AEM and got fair knowledge of Authoring, Publishing, Audience Targeting,
                            Dynamic Tagging, DAM (Dynamic Asset Management) and user permissions.</li>
                        <li>Expertise in Cache Mechanism, Web Page Optimization and Query Optimization which helps to increase
                            load time
                        </li>
                        <li>Having domain knowledge of Cards, Travel, E-Commerce, Buy/Sell/Exchange, Budget Distribution, Social
                            Networking and CMS
                        </li>
                        <li>Expertise in to build a responsive Web Application using Bootstrap</li>
                        <li>Built Custom CMS by using XML and XSLT which used to manage their travel packages data</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>